.pagination {
    display: flex;
    margin: 1rem auto;
  }
  
.pagination button {
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid #ddd;
}
  
.pagination button.active {
    background-color: var(--pagination-active-bg);
    color: white;
    border: 1px solid var(--pagination-active-bg);
}
  
.pagination button:hover:not(.active) {
    background-color: #ddd;
}
  
.pagination button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.pagination button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}