th{
    text-align: left;
    width: 20rem;
    padding: 1rem;
}

td {
    padding: 0.6rem 1rem;
    text-align: left;
    width: 20rem;
    background-color: white;
}

.text_button{
    font-weight: bold;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.delete_button {
    font-weight: 700;
    color: var(--delete-button-color);
    background-color: #fff;
}

.edit_button {
    font-weight: 700;
    color: var(--edit-button-color);
    background-color: #fff;
}

.edit_button:hover, .delete_button:hover {
    color: var(--button-hover-color);
}

@media screen and (max-width: 800px){
    th, td {
        padding: 8px;
    }
}